.popup-pic__close {
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup-pic__close:hover {
  background-image: url(../../../images/close-icon-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup-pic__close {
    top: -36px;
    right: 0;
  }
}
