.popup__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 430px;
  min-height: 330px;
  background-color: #FFF;
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
  }
}
