.popup__name {
  margin: 0 36px 30px 36px;
  border: none;
  border-bottom: 1px solid #000;

}

.popup__name::-ms-input-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__name::-moz-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__name::-webkit-input-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__name::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .popup__name {
    margin: 0 22px 30px 22px;
  }
}
