.popup__text {
  margin: 0 36px 30px 36px;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__text::-ms-input-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__text::-moz-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__text::-webkit-input-placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

.popup__text::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .popup__text {
    margin: 0px 22px 30px 22px;
  }
}
